 <%= form_for @cologne do |f| %>
  <div class="container">
    <div class="row mb-1">
      <div class="col-2 text-right" style="background-color: #eee;">
        名前：
      </div>
      <div class="col">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-2 text-right" style="background-color: #eee;">
        メーカ：
      </div>
      <div class="col">
        <%= f.text_field :maker %>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-2 text-right" style="background-color: #eee;">
        お気に入り：
      </div>
      <div class="col">
        <%= f.text_field :favourite %>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-2 text-right" style="background-color: #eee;">
        成分：
      </div>
      <div class="col">
        <textarea name="cologne[component]" id="cologne_component" class="form-control" aria-label="With textarea"><%= @cologne[:component] %></textarea>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-2 text-right" style="background-color: #eee;">
        写真：
      </div>
      <div class="col">
        <%= f.file_field :picture %><br>
        <%= 
        if @cologne[:picture] != nil 
          image_tag send_img_cologne_path
        end 
        %><br>
        <%= @cologne[:filename] %>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-2 text-right" style="background-color: #eee;">
        感想：
      </div>
      <div class="col">
        <textarea name="cologne[note]" id="cologne_note" class="form-control" aria-label="With textarea"><%= @cologne[:note] %></textarea>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-2 text-right" style="background-color: #eee;">
        購入履歴：
      </div>
      <div class="col">
        <textarea name="cologne[info]" id="cologne_info" class="form-control" aria-label="With textarea"><%= @cologne[:info] %></textarea>
      </div>
    </div>
    <div class="row">
      <button type="submit" name="submit" value="<%= @button_action %>" class="btn btn-primary"><%= @button_label %></button>
    </div>
  </div>
<% end %>
